<section class="contact" id="contact">
  <div class="container">
    <h2 class="contact-title">Contact</h2>
    <div class="contact-box">
      <img
        class="contact-img"
        loading="lazy"
        src="./img/contact/contact.png"
        alt="Game Icon"
        width="208"
        height="208"
        srcset="./img/contact/contact.png 1x, ./img/contact/contact_2x.png 2x"
      />
      <ul class="contact-list">
        <li class="contact-item">
          <a
            class="contact-link animateHoverLink"
            href="mailto:info@clarexa.site"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contact-svg" width="24" height="24">
              <use href="./img/sprite.svg#icon-mob-mail"></use>
            </svg>
            info@clarexa.site
          </a>
        </li>
        <li class="contact-item">
          <a
            class="contact-link animateHoverLink"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contact-svg" width="24" height="24">
              <use href="./img/sprite.svg#icon-mob-facebook"></use>
            </svg>
            <span class="contact-text">
              facebook.com/<span class="break">tangledropegame</span>
            </span>
          </a>
        </li>
        <li class="contact-item">
          <a
            class="contact-link animateHoverLink"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contact-svg" width="24" height="24">
              <use href="./img/sprite.svg#icon-mob-inst"></use>
            </svg>
            <span class="contact-text"
              >instagram.com/<span class="break">tangledropepuzzle</span></span
            >
          </a>
        </li>
        <li class="contact-item">
          <a
            class="contact-link animateHoverLink"
            href="https://maps.google.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contact-svg" width="24" height="24">
              <use href="./img/sprite.svg#icon-mob-location"></use>
            </svg>
            <span class="contact-text"
              >Clarexa Interactive, 420 <span class="break"></span>
              Puzzle Lane, Helsinki, Finland
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
