<div class="cookies-backdrop">
  <div class="container">
    <h2 class="cookies-modal-title">Cookies Policy</h2>
    <p class="cookies-modal-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-btn-wrapper">
      <button class="cookies-btn accept" type="button">ACCEPT COOKIES</button>
      <button class="cookies-btn decline" type="button">DECLINE COOKIES</button>
    </div>
  </div>
</div>
