<section class="downloadSection" id="download-section">
  <div class="container">
    <h2 class="downloadTitle">Download Section</h2>

    <h2 class="downloadGameTitle">
      Untangle the World <span class="break">— Start Playing</span>
    </h2>

    <p class="downloadDescriptionText">
      Free to play. Tangled fun for all ages
    </p>
    <a
      class="downloadBtn google animateHoverButtonGreen"
      href="https://play.google.com/store/apps/details?id=com.tangled.rope&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="downloadIconBtn google" width="24" height="27">
        <use href="./img/sprite.svg#icon-logos_google-play-icon"></use>
      </svg>
      Google Play
    </a>
  </div>
</section>
