<section>
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-container">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="/img/faq/desktop-faq.png 1x, /img/faq/desktop-faq2x.png 2x"
        />
        <source
          media="(max-width: 1199px)"
          srcset="/img/faq/mob-faq.png 1x, /img/faq/mob-faq2x.png 2x"
        />
        <img src="/img/faq/mob-faq.png" alt="Game screenshot" />
      </picture>

      <ul class="faq-list">
        <li class="faq-question">
          <button class="faq-question-btn" data-accordion type="button">
            Q: Is Tangled Rope free?
          </button>
          <div class="faq-panel">
            <p>
              A: Yes! It’s free with optional in-game boosters and ad removal.
            </p>
          </div>
        </li>
        <li class="faq-question">
          <button class="faq-question-btn" data-accordion type="button">
            Q: Can I play offline?
          </button>
          <div class="faq-panel">
            <p>
              A: Yes. All levels are playable without an internet connection.
            </p>
          </div>
        </li>
        <li class="faq-question">
          <button class="faq-question-btn" data-accordion type="button">
            Q: Are there daily puzzles?
          </button>
          <div class="faq-panel">
            <p>A: Yes — new challenges arrive every day.</p>
          </div>
        </li>
        <li class="faq-question">
          <button class="faq-question-btn" data-accordion type="button">
            Q: Do puzzles repeat?
          </button>
          <div class="faq-panel">
            <p>A: No. Each level is handcrafted with unique configurations.</p>
          </div>
        </li>
        <li class="faq-question">
          <button class="faq-question-btn" data-accordion type="button">
            Q: Can kids play this game?
          </button>
          <div class="faq-panel">
            <p>
              A: Absolutely. It’s great for all ages and helps build logical
              thinking.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
