<section id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-container">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="/img/faq/desktop-faq.png 1x, /img/faq/desktop-faq2x.png 2x"
        />
        <source
          media="(max-width: 1199px)"
          srcset="/img/faq/mob-faq.png 1x, /img/faq/mob-faq2x.png 2x"
        />
        <img src="/img/faq/mob-faq.png" alt="Game screenshot" />
      </picture>

      <ul class="faq-list">
        <li class="faq-question">
          <button
            class="faq-question-btn"
            data-accordion
            data-active="false"
            type="button"
          >
            <span>Q: Is Tangled Rope free?</span>
            <svg class="faq-plus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-plus"></use>
            </svg>
            <svg class="faq-minus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-minus"></use>
            </svg>
          </button>
          <div class="faq-panel">
            <p>
              A: Yes! It’s free with optional in-game boosters and ad removal.
            </p>
          </div>
        </li>
        <li class="faq-question">
          <button
            class="faq-question-btn"
            data-accordion
            data-active="false"
            type="button"
          >
            <span>Q: Can I play offline?</span>
            <svg class="faq-plus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-plus"></use>
            </svg>
            <svg class="faq-minus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-minus"></use>
            </svg>
          </button>
          <div class="faq-panel">
            <p>
              A: Yes. All levels are playable without an internet connection.
            </p>
          </div>
        </li>
        <li class="faq-question">
          <button
            class="faq-question-btn"
            data-accordion
            data-active="false"
            type="button"
          >
            <span>Q: Are there daily puzzles?</span>
            <svg class="faq-plus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-plus"></use>
            </svg>
            <svg class="faq-minus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-minus"></use>
            </svg>
          </button>
          <div class="faq-panel">
            <p>A: Yes — new challenges arrive every day.</p>
          </div>
        </li>
        <li class="faq-question">
          <button
            class="faq-question-btn"
            data-accordion
            data-active="false"
            type="button"
          >
            <span>Q: Do puzzles repeat?</span>
            <svg class="faq-plus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-plus"></use>
            </svg>
            <svg class="faq-minus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-minus"></use>
            </svg>
          </button>
          <div class="faq-panel">
            <p>A: No. Each level is handcrafted with unique configurations.</p>
          </div>
        </li>
        <li class="faq-question">
          <button
            class="faq-question-btn"
            data-accordion
            data-active="false"
            type="button"
          >
            <span>Q: Can kids play this game?</span>
            <svg class="faq-plus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-plus"></use>
            </svg>
            <svg class="faq-minus-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-mob-minus"></use>
            </svg>
          </button>
          <div class="faq-panel">
            <p>
              A: Absolutely. It’s great for all ages and helps build logical
              thinking.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
