<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-links">
        <a class="animateHoverLink" href="./privacy_policy.html"
          >Privacy Policy
        </a>
        <span class="links-breaks" aria-hidden="true"> | </span>
        <a class="animateHoverLink" href="./terms_and_conditions.html"
          >Terms and Conditions
        </a>
        <span class="links-breaks" aria-hidden="true"> | </span>
        <a class="animateHoverLink" href="./cookies_policy.html"
          >Cookies Policy
        </a>
      </div>
      <p class="footer-descr">All rights reserved clarexa.site | 2025</p>
    </div>
  </div>
</footer>
