<section id="game-modes">
  <div class="container">
    <h2 class="gameModes-title">Game Modes</h2>
    <div class="gameModes-background">
      <ul class="scroll-text first-scroll">
        <li>
          <span class="break scroll-title">Classic Untangle:</span> Solve one
          tangled mess at a time
        </li>
        <li>
          <span class="break scroll-title">Timed Challenge:</span> Beat the rope
          puzzle before the clock runs out
        </li>
        <li>
          <span class="break scroll-title">Zen Mode:</span>No timers, just
          smooth puzzles and calm music
        </li>
      </ul>
      <ul class="scroll-text second-scroll">
        <li class="scroll-text-item">
          <span class="break scroll-title">Daily Puzzle:</span> New rope
          configuration each day
        </li>
        <li>
          <span class="break scroll-title">Puzzle Builder (Coming Soon):</span>
          Design your own tangles and share with friends
        </li>
      </ul>
    </div>
  </div>
</section>
