<section id="game-description">
  <div class="container">
    <h2 class="gamedescr-title">Game Description</h2>
    <div class="gamedescr-container">
      <div class="gamedescr-images-container">
        <picture class="gamedescr-image"
          ><source
            srcset="
              /img/gameDescription/desktop-gamedescr-img1.webp   1x,
              /img/gameDescription/desktop-gamedescr-img1x2.webp 2x
            "
            media="(min-width: 1200px)" />
          <source
            srcset="
              /img/gameDescription/mob-gamedescr-img1.webp   1x,
              /img/gameDescription/mob-gamedescr-img1x2.webp 2x
            "
            media="(max-width: 1199px)" />
          <img
            class="gamedescr-image-border"
            src="/img/gameDescription/mob-gamedescr-img1.webp"
            alt="Game screenshot"
        /></picture>
        <picture class="gamedescr-image"
          ><source
            srcset="
              /img/gameDescription/desktop-gamedescr-img2.webp   1x,
              /img/gameDescription/desktop-gamedescr-img2x2.webp 2x
            "
            media="(min-width: 1200px)" />
          <source
            srcset="
              /img/gameDescription/mob-gamedescr-img2.webp   1x,
              /img/gameDescription/mob-gamedescr-img2x2.webp 2x
            "
            media="(max-width: 1199px)" />
          <img
            class="gamedescr-image-border"
            src="/img/gameDescription/mob-gamedescr-img2.webp"
            alt="Game screenshot"
        /></picture>
        <picture class="gamedescr-image">
          <source
            srcset="
              /img/gameDescription/desktop-gamedescr-img3.webp   1x,
              /img/gameDescription/desktop-gamedescr-img3x2.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/gameDescription/mob-gamedescr-img3.webp   1x,
              /img/gameDescription/mob-gamedescr-img3x2.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="gamedescr-image-border"
            src="/img/gameDescription/mob-gamedescr-img3.webp"
            alt="Game screenshot"
          />
        </picture>
      </div>
      <div class="descr-text-container">
        <p class="gamedescr-descr1">
          Welcome to
          <span class="gamedescr-descr1-span">Tangled Rope: Twisted Puzzle</span
          >, a deceptively simple game that will challenge your mind and soothe
          your senses.<span class="break"
            >Your mission? Untangle ropes, one knot at a time.</span
          >
        </p>
        <button
          type="button"
          class="gamedescr-readmore-btn"
          data-readmore="open"
        >
          Read more ...
        </button>
        <p class="gamedescr-descr2" data-hiddentext="closed">
          At first, it may seem easy. But as the ropes multiply and the puzzles
          become more twisted, only your logic and focus will guide you
          forward.<span class="break">
            This game is designed for thinkers, meditators, and casual puzzlers
            alike — offering a rewarding sense of clarity with every level
            cleared.
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
