<header class="header">
  <div class="header-container">
    <a href=""
      ><picture>
        <source
          srcset="/img/header/desktop-header-logo.png"
          media="(min-width: 1200px)"
        />
        <img
          src="/img/header/mob-header-logo.png"
          alt="Logo"
          class="header-logo"
        /> </picture
    ></a>
    <button type="button" class="header-burger-button" data-action="open">
      <svg width="20" height="20">
        <use href="/img/sprite.svg#icon-mob-burger"></use>
      </svg>
    </button>
    <nav class="header-navigation">
      <div class="header-menu-container">
        <ul class="header-menu-top">
          <li>
            <a class="animateHeaderBtns" href="#hero-section">Hero Section</a>
          </li>
          <li>
            <a class="animateHeaderBtns" href="#game-description"
              >Game Description</a
            >
          </li>
          <li>
            <a class="animateHeaderBtns" href="#key-features">Key Features</a>
          </li>
          <li>
            <a class="animateHeaderBtns" href="#game-modes">Game Modes</a>
          </li>
        </ul>
        <ul class="header-menu-bottom">
          <li><a class="animateHeaderBtns" href="#gallery">Gallery</a></li>
          <li><a class="animateHeaderBtns" href="#faq">FAQ</a></li>
          <li>
            <a class="animateHeaderBtns" href="#user-reviews">User Reviews</a>
          </li>
          <li>
            <a class="animateHeaderBtns" href="#download-section"
              >Download Section</a
            >
          </li>
          <li><a class="animateHeaderBtns" href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
