<section id="hero-section">
  <div class="container hero-container">
    <picture>
      <source
        srcset="
          /img/hero/desktop-hero-image.png   1x,
          /img/hero/desktop-hero-image2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /img/hero/mob-hero-image.png   1x,
          /img/hero/mob-hero-image2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <img
        class="hero-image"
        fetchpriority="high"
        src="/img/hero/mob-hero-image.png"
        alt="Tangled ropes"
      />
    </picture>
    <div class="hero-desktop-container">
      <div class="hero-text-container">
        <h1 class="hero-title">Tangled Rope: Twisted Puzzle</h1>
        <p class="hero-motto">Relax, Think, Untangle — One Knot at a Time</p>
      </div>
      <a
        class="hero-button"
        href="https://play.google.com/store/apps/details?id=com.tangled.rope&hl=en&gl=us"
      >
        <svg class="hero-google-icon" width="24" height="27">
          <use href="./img/sprite.svg#icon-logos_google-play-icon"></use>
        </svg>
        <span>Play & Untangle Now</span>
      </a>
    </div>
  </div>
</section>
