<section id="key-features">
  <div class="container">
    <h2 class="key-title">Key Features</h2>
    <ul class="key-container">
      <li class="key-item1 key-grid-item">
        <h3 class="key-item-title">Progressive Challenge:</h3>
        <svg class="key-icon" width="44" height="44">
          <use href="/img/sprite.svg#icon-desktop-inf"></use>
        </svg>
        <p class="key-item-text">
          Levels grow in difficulty, unlocking advanced mechanics like looping
          ropes, fixed nodes, and hidden overlaps.
        </p>
      </li>
      <li class="key-item2 key-grid-item">
        <h3 class="key-item-title">Addictive Puzzle Logic:</h3>
        <svg class="key-icon" width="44" height="44">
          <use href="/img/sprite.svg#icon-desktop-puzzle"></use>
        </svg>
        <p class="key-item-text">
          Unravel complex knots by dragging, lifting, and sliding ropes into
          place.
        </p>
      </li>
      <li class="key-item3 key-grid-item">
        <h3 class="key-item-title">Clean, Colorful Design:</h3>
        <svg class="key-icon" width="44" height="44">
          <use href="/img/sprite.svg#icon-desktop-design"></use>
        </svg>
        <p class="key-item-text">
          Vibrant rope visuals, minimalist UI, and relaxing animations for an
          elegant play experience.
        </p>
      </li>
      <li class="key-item4 key-grid-item">
        <h3 class="key-item-title">Soothing Gameplay:</h3>
        <svg class="key-icon" width="44" height="44">
          <use href="/img/sprite.svg#icon-desktop-head"></use>
        </svg>
        <p class="key-item-text">
          Designed to help you relax while stimulating your mind. Perfect for
          breaks, bedtime, or quiet mornings.
        </p>
      </li>
      <li class="key-item5 key-grid-item">
        <h3 class="key-item-title">Hints & Solutions:</h3>
        <svg class="key-icon" width="44" height="44">
          <use href="/img/sprite.svg#icon-desktop-phone"></use>
        </svg>
        <p class="key-item-text">
          Use smart hints or reveal solutions when you’re stuck — no
          frustration, just learning.
        </p>
      </li>
      <li class="key-item6 key-grid-item">
        <h3 class="key-item-title">Simple Controls:</h3>
        <svg class="key-icon" width="44" height="44">
          <use href="/img/sprite.svg#icon-desktop-touch"></use>
        </svg>
        <p class="key-item-text">
          Tap, drag, untangle. That’s all you<br />
          need to know.
        </p>
      </li>
      <li class="key-item7 key-grid-item">
        <h3 class="key-item-title">Brain Progression Tracker:</h3>
        <svg class="key-icon" width="44" height="44">
          <use href="/img/sprite.svg#icon-desktop-brain"></use>
        </svg>
        <p class="key-item-text">
          Watch your stats evolve as you master levels and train your<br />
          spatial reasoning.
        </p>
      </li>
    </ul>
  </div>
</section>
