<div class="menu-overlay" data-visible="no">
  <div class="container menu-container">
    <div class="menu-slide"></div>
    <ul class="menu-menu">
      <li><a href="#hero-section">Hero Section</a></li>
      <li><a href="#game-description">Game Description</a></li>
      <li><a href="#key-features">Key Features</a></li>
      <li><a href="#game-modes">Game Modes</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#user-reviews">User Reviews</a></li>
      <li><a href="#download-section">Download Section</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
