<section class="reviewsSection" id="user-reviews">
  <div class="container">
    <h2 class="reviewsTitle">User Reviews</h2>
    <div class="swiper reviewsSwiper" data-swiper="reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviewCard">
          <svg class="reviewCardIcon" width="43" height="34">
            <use href="./img/sprite.svg#icon-mob-quotation"></use>
          </svg>
          <div class="reviewCardTextWrapper">
            <p class="reviewText">
              &#11088; &ldquo;It&rsquo;s one of the most satisfying games
              I&rsquo;ve played. Watching ropes untangle is pure joy.&rdquo;
            </p>
            <p class="reviewAuthor">Mira T., Puzzle Enthusiast</p>
          </div>
        </div>
        <div class="swiper-slide reviewCard">
          <svg class="reviewCardIcon" width="43" height="34">
            <use href="./img/sprite.svg#icon-mob-quotation"></use>
          </svg>
          <div class="reviewCardTextWrapper">
            <p class="reviewText">
              &#11088; &ldquo;Great for visual-spatial training. Also
              surprisingly meditative.&rdquo;
            </p>
            <p class="reviewAuthor">Luis R., Architect</p>
          </div>
        </div>
        <div class="swiper-slide reviewCard" data-swiper="initial-slide">
          <svg class="reviewCardIcon" width="43" height="34">
            <use href="./img/sprite.svg#icon-mob-quotation"></use>
          </svg>
          <div class="reviewCardTextWrapper">
            <p class="reviewText">
              &#11088; &ldquo;No ads, smooth controls, and the hint system is
              actually helpful. I&rsquo;m hooked.&rdquo;
            </p>
            <p class="reviewAuthor">Sandra P., Casual Gamer</p>
          </div>
        </div>
        <div class="swiper-slide reviewCard">
          <svg class="reviewCardIcon" width="43" height="34">
            <use href="./img/sprite.svg#icon-mob-quotation"></use>
          </svg>
          <div class="reviewCardTextWrapper">
            <p class="reviewText">
              &#11088; &ldquo;Beautiful colors and sounds. It&rsquo;s my new
              mental break between tasks.&rdquo;
            </p>
            <p class="reviewAuthor">Devon L., Designer</p>
          </div>
        </div>
        <div class="swiper-slide reviewCard">
          <svg class="reviewCardIcon" width="43" height="34">
            <use href="./img/sprite.svg#icon-mob-quotation"></use>
          </svg>
          <div class="reviewCardTextWrapper">
            <p class="reviewText">
              &#11088; &ldquo;I recommend it to my students. It&rsquo;s fun,
              calming, and boosts focus.&rdquo;
            </p>
            <p class="reviewAuthor">Anya K., Teacher</p>
          </div>
        </div>
      </div>
      <div
        class="swiper-pagination reviewsPagination"
        data-swiper="reviewsPagination"
      ></div>
    </div>
  </div>
</section>
