.faq-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-question {
  background-color: #a86700;
  border-radius: 8px;
}

.faq-question-btn {
  padding: 8px;
  background-color: inherit;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: inherit;
  width: 100%;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-minus-icon,
.faq-plus-icon {
  fill: white;
  display: none;
}

button[data-active='false'] .faq-plus-icon {
  display: inline-block;
}

button[data-active='true'] .faq-minus-icon {
  display: inline-block;
}

[data-accordion] {
  transition: 0.4s;
}

.faq-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, padding-bottom 0.2s ease-out;
  box-sizing: content-box;
  padding: 0 8px;
  color: #fff;
}

.faq-panel[data-active='true'] {
  padding-bottom: 8px;
}

@media only screen and (min-width: 1200px) {
  .faq-title {
    font-size: 40px;
    margin-bottom: 42px;
  }

  .faq-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 16px;
  }

  .faq-list {
    gap: 24px;
  }

  .faq-question {
    border-radius: 12px;
    width: 648px;
  }

  .faq-question-btn {
    padding: 14px 16px;
    font-size: 24px;
  }

  .faq-panel {
    display: flex;
    justify-content: start;
    font-size: 24px;
    text-align: left;
    max-width: 535px;
    padding-left: 16px;
  }

  .faq-plus-icon,
  .faq-minus-icon {
    width: 44px;
    height: 44px;
  }

  .faq-panel[data-active='true'] {
    padding-bottom: 14px;
  }
}
