.gamedescr-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
  color: #d9f3fd;
}

.gamedescr-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gamedescr-image {
  margin-top: -132px;
}

.gamedescr-image-border {
  border-radius: 9px;
  width: 288px;
  box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.gamedescr-image:first-child {
  margin-top: 0;
}

.gamedescr-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamedescr-descr1 {
  padding-bottom: 8px;
}

.gamedescr-descr1-span {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.gamedescr-readmore-btn {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: #d9f3fd;
  transition: max-height 300ms ease-in-out, transform 300ms ease-in-out,
    visibility 300ms ease-in-out, opacity 300ms ease-in-out,
    padding 300ms ease-in-out;
}

.descr-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gamedescr-descr2 {
  max-height: 0;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out,
    visibility 300ms ease-in-out, max-height 300ms ease-in-out,
    padding 300ms ease-in-out;
}

[data-readmore='closed'] {
  padding: 0;
  border: none;
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
}

[data-hiddentext='open'] {
  transform: translateY(0);
  max-height: fit-content;
  padding-top: 8px;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 1200px) {
  [data-readmore] {
    display: none;
  }

  [data-hiddentext] {
    display: inline;
    padding: 0;
  }

  .gamedescr-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 56px;
  }

  .gamedescr-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 24px;
  }

  .descr-text-container {
    font-size: 18px;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 84px;
  }

  .gamedescr-descr1-span {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
  }

  .gamedescr-images-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .gamedescr-image {
    margin-top: 0;
  }

  .gamedescr-image-border {
    border-radius: 12px;
    width: 300px;
    height: 349px;
  }

  .gamedescr-image:nth-child(2) {
    margin-bottom: 42px;
    margin-left: -126px;
  }

  .gamedescr-image:nth-child(3) {
    margin-bottom: 84px;
    margin-left: -126px;
  }

  .gamedescr-descr1 {
    padding: 0;
  }
  .gamedescr-descr2 {
    max-height: none;
    opacity: 1;
    visibility: visible;
    transform: none;
    margin-top: 40px;
  }
}
