.menu-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translate(-50%, -50%) rotateX(-90deg) scale(0.8);
  transition: transform 500ms ease-in-out, opacity 300ms ease-in-out,
    visibility 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  overflow-y: auto;
  background: radial-gradient(50% 50% at 50% 50%, #0d77e4 0%, #2d128e 100%);
}

[data-visible='yes'] {
  transform: translate(-50%, -50%) rotateX(0deg) scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@keyframes modal {
}

.menu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 83px;
  gap: 16px;
  padding-bottom: 50px;
}

.menu-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;

  font-weight: 500;
  font-size: 16px;
  color: #d9f3fd;
}

.menu-slide {
  height: 400px;
  background-color: #170b45;
  border-radius: 0 8px 8px 0;
  width: 48px;
}

@media only screen and (min-width: 1200px) {
  .menu-overlay {
    display: none;
  }
}
