.reviewsTitle {
  font: 700 24px 'Nunito', sans-serif;
  text-align: center;
  margin-bottom: 16px;
}
.reviewCardIcon {
  display: block;
  fill: #d9f3fd;
}
.swiper.reviewsSwiper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.swiper-slide.reviewCard {
  border-radius: 12px;
}
div.swiper-pagination.reviewsPagination[data-swiper='reviewsPagination'] {
  position: unset;
  transform: none;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  background-color: #1e1e1e;
}
span.swiper-pagination-bullet {
  background-color: #d9f3fd;
  width: 15px;
  height: 15px;
  opacity: 1;
}
.reviewCardTextWrapper {
  padding: 24px 26px 24px 34px;
  border-radius: 8px;
  background-color: #16a72e;
}

.reviewText {
  margin-bottom: 24px;
}

.reviewAuthor {
  font: 700 16px 'Nunito', sans-serif;
}
